<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.honghanh.hci_wiki">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".homepage.MainActivity"/>
        <activity android:name=".newsDetailPage.NewsDetailActivity"/>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".searchpage.SearchActivity" />
        <activity android:name=".detailpage.DetailsActivity"/>
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".topicpage.TopicActivity"/>
        <activity android:name=".topicdetailpage.TopicDetailActivity"
            android:theme="@style/Transparent"/>
        <activity android:name=".bookmarkpage.BookmarkActivity"/>
        <activity android:name=".historypage.HistoryActivity"/>
    </application>

</manifest>